<main class="main">
  <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="movie-details">
    <h2>Movie Title</h2>
    <p>Shared by: User123</p>
    <div class="like-dislike">
        <button class="active">Like</button>
        <button>Dislike</button>
    </div>
    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero in justo fermentum, vitae vestibulum nunc volutpat.</p>
  </div>
</main>
