/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body {
  padding: 0 2rem 0 5rem;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.header-left {
  display: flex;
  justify-items: center;
  align-items: center;
}

.header-right {
  display: flex;
  justify-items: center;
  align-items: center;
}

.header-left {
  gap: 5px;
}

.header-logo {
  width: 25px;
  height: 25px;
}

.signup-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.share-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button {
  background-color: #de3e3e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #45a049;
}

.header-right input[type='email'],
.header-right input[type='password'] {
  margin-right: 5px;
  padding: 7px 3px;
}

/* Main */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main {
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  gap: 10px;
  padding: 0 40px;
  height: 295px;
}

.video-container {
  max-width: 800px;
  margin: 0 auto;
}

.movie-details {
  max-width: 800px;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 100%;
}

.movie-details h2 {
  margin-top: 0;
}

.movie-details p {
  margin-top: 5p;
}

.active {
  color: white;
  background-color: #45a049;
}

/* Share video form */
.share-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.share-form input[type='text'] {
  width: calc(100% - 75px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.share-movie-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.share-movie-button:hover {
  background-color: #45a049;
}
